@import url('_theme/section-subtitle_theme_dark.css');

.section-subtitle {
  margin: 20px 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  max-width: 60%; /* изменено с width по совету ревьюера, NB: Фиксированное значение для текстовых элементов чревато некорректным отображением и усложнением кода. 
  Особенно много неприятностей это добавит при создании верстки, адаптирующейся под различные экраны устройств. Фиксированные значение ширины приводят к тому, что вне зависимости от текстово содержимого и устройства просмотра - ширина будет равна только установленному в свойстве width значению. 
  CSS предлагает более мягкое свойство - max-width. Старайтесь использовать его для текстовых элементов. Чтобы не потерять отображение верстки при небольшом количестве текста внутри элемента - используйте связку max-width и width:100%.*/
}