.table__heading {
  margin: 0; /* NB: Нужно сбросить стандартные стили браузера перед написанием собственных стилей
  Стандартные стили браузера для текстового элемента, это margin, который нужно сбросить например в формате margin: 0;  в первой строчке свойств для селектора класса элемента. А далее уже писать собственные стили, в том числе и другие марджины, которые из-за специфичности CSS будут переназначены с 0, на те, которые будут написаны ниже внутри селектора.*/
  font-weight: bold;
  line-height: 1.15;
  font-size: 24px;
}