
.section-subtitle_theme_dark {
  margin: 0; /* NB: Нужно сбросить стандартные стили браузера перед написанием собственных стилей Стандартные стили браузера для текстового элемента, это margin, который нужно сбросить например в формате margin: 0;  в первой строчке свойств для селектора класса элемента. А далее уже писать собственные стили, в том числе и другие марджины, которые из-за специфичности CSS будут переназначены с 0, на те, которые будут написаны ниже внутри селектора.*/
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  top: 20px;
  max-width: 60%;
  color: #fff;
  z-index: 1;
}
