/*.techniques {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  padding: 100px 0 0;
  }
  .cards {  
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  min-width: 920px;
  }
  .cards__item {
  margin: 60px 100px 0 0;
  box-sizing: border-box;
  max-width: 240px;
  }
  .cards__item:nth-last-of-type(3) {
    margin-right: 0;
    }
  
  .cards__image {
  margin: 0 40px 40px;
  max-width: 160px;
  max-height: 160px;
  border-radius: 100%;
  border-style: none;
  }
  .cards__title {
  margin: 0 0 16px;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  }
  .cards__description {
  margin: 0;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  }
.video {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  padding: 100px 0 0;
}*/

.techniques {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 100px 0 0;
  margin: 0 auto;
  align-items: center;
}
.cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  min-width: 920px;
}
.cards__item {
  text-align: center;
}
.cards__item:nth-last-of-type(3) {
  margin-right: 0;
  }
.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 60px 40px 43px;
}
.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 16px 0 0;
}
.cards__image-wrapper {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.video__iframes {
display: flex;
position: relative;
justify-content: center;
column-gap: 20px;
transform: translate(0, 50px);
z-index: 2;
}
.video__iframe {
  margin: 0 20px 0 0;
  border: none;
  width: 515px;
  height: 316px;
}

.oakley {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding-top: 160px;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 217px;
}
.resources__logo {
  width: 270px;
  height: 38px;
}
.resources__logo-zone {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 80px 0 0 0;
  list-style: none;
}
@keyframes rotation-triangle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation-square {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(345deg);
  }
}

.rotation-triangle {
  animation: rotation-triangle 20s linear infinite;
}

.rotation-square {
  animation: rotation-square 20s linear infinite;
}
.khan {
display: flex;
justify-content: center;
background-color: #f2f2f2;
padding: 105px 0 0;
}
.khan__container {
display: flex;
flex-direction: column;
width: 80%;
}
.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  padding: 0;
}
.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  padding: 0;
}
.khan__quote {
  max-width: 790px;
  margin: 50px 0 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.khan__quote-author {
  margin: 0 0 10px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 68px 0;
}
.khan__book-container {
  display: flex;
  align-items: flex-start;
}
.khan__book-pic {
  width: 620px;
  height: 608px;
  overflow: hidden;
  margin: 0 20px 0 0;
  object-fit: cover;
  object-position: top;
}
.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
}